.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #00b0d7;
  color: #fff ;
}



.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected .ant-menu-title-content a {
  color: #fff ;
}
